/* Contact.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 120px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
/* stylesp.css */

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.login-form {
  width: 50%;
  padding: 20px;
}

.login-image {
  width: 50%;
}

.login-image img {
  width: 100%;
  height: auto;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.registration-form {
  width: 50%;
  padding: 20px;
}

.registration-form label {
  display: block;
  margin-bottom: 5px;
}

.registration-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.registration-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
}
